{% extends "layout.html" %}
{% block content %}


<title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Description</title>

<br>
<h5 xmlns="http://www.w3.org/1999/html"><b> Description of the "Library" project</b></h5><br>

<b style="font-size 24px">P</b>roject "Library" is user friendly API aiming to help bookkeepers in managing the list collection of
books in a homewise meaning of this term.</br></br>

<b style="font-size 24px">A</b>s per Client's requirements -
<button formtarget="_blank" type="submit" onclick="Requirements">
    <a href="#spec" style="scroll-behavior: smooth;">
        <b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Requirements" </b></a><br>
</button>
- listed down later in this paragraph - application is expected to have the basic features available to
maintain titles and authors within the list. Titles can be added manually, grabed from images and texts, taken from
video or photo canvas.
Notwithstanding from Client's requirement the book manager will be upgraded with the NLP manner of new items
insertion to the lists.
It will also be provided in incoming issue of the API. It is in the design to grab the new list items from URL and
CSV sources as well. <br><br>

<b style="font-size 24px">T</b>hanks to "Library" you can also keep another list of best of 1000 or more titles you
would recommend as a "must read" -
<button formtarget="_blank" type="submit" onclick="Top 1000 list">
    <a href="#tops" style="scroll-behavior: smooth;">
        <b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">" Top 1000
            list" </b></a></button>.
Registrated users can provide with their own recommendations for positioning any specific title from their lists
together with the proposed rank.<br><br>


<b style="font-size 20px">T</b>here is a number of very helpfull and inspiring sources I have used in order to build
up this application.
I have listed down, I believe great part of them. Sources are listed down here
<button formtarget="_blank" type="submit" onclick="Sources">
    <a href="#sources" style="scroll-behavior: smooth;">
        <b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Sources" </b></a><br>
</button>.
<br><br>


<b style="font-size 20px">I</b>n order to supply the final application shape with the good quality the testing measures were
implemented and carried out. It the
<button formtarget="_blank" type="submit" onclick="Tests">
    <a href="#tests" style="scroll-behavior: smooth;">
        <b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Tests" </b></a><br>
</button>
&nbsp paragraph detailed description of most of them is presented.<br><br>

<div id="howTo3" style="50">
    <b style="font-size 20px">A</b> short and simple permissive license with conditions only requiring preservation of
    copyright and license
    notices is attached at the bottom of this document. Licensed works, modifications, and larger works may be
    distributed under different terms and without source code.
    <button formtarget="_blank" type="submit" onclick="License">
        <a href="#license"> <b
                style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">License</b></a></br>
    </button> .
</div>

&nbsp

<!-- REQUIREMENTS -->


<br><br><br><br><br><br><br><a name="spec"> </a><br><br><br><br><br><br><h6 xmlns="http://www.w3.org/1999/html"><b>
    Client's requirements
    and scenarios</b></h6><br><br>

<b style="font-size 24px">A</b>PI will be accessible from web browser "Firefox" or "Chrome". </br>
<b style="font-size 24px">C</b>lient climes APi to be used by specific single group of users called "Family".</br>
<b style="font-size 24px">B</b>asic functionalities and features are as follows: </br>
<b style="font-size 24px">1</b>. User can register to API and store and his/her credentials in the table "users" of database</br>
<b style="font-size 24px">2</b>. User can login to API with remembered credentials</br>
<b style="font-size 24px">3</b>. Once loged in user can list his/her account and change the data stored in table </br>
<b style="font-size 24px">4</b>. User can logout when the session is completed.<br>
<b style="font-size 24px">5</b>. User can list the current status of the book list <br>
<b style="font-size 24px">6</b>. User can list the current status of the top 1000 list<br>
<b style="font-size 24px">7</b>. At each of the main API endpoints the other way of intercepting data is performed:<br>
&nbsp&nbsp&nbsp&nbsp<b style="font-size 24px">7.1</b> User can add new book manually</br>
&nbsp&nbsp&nbsp&nbsp<b style="font-size 24px">7.2</b> User can add new book from image captured in camera</br>
&nbsp&nbsp&nbsp&nbsp<b style="font-size 24px">7.3</b> User can add new book reading the data from any image file
accesible from RAM memory</br>
&nbsp&nbsp&nbsp&nbsp<b style="font-size 24px">7.4</b> User can add new book reading the data from any text file
accesible from RAM memory</br>
<b style="font-size 24px">8</b>. User can delete any item from the list </br>
<b style="font-size 24px">9</b>. User can update any item on the list</br>
<b style="font-size 24px">10</b>. User can recommend the book to the Top 1000 list</br>
<b style="font-size 24px">11</b>. Optionally the session will be closed when connection to the server is disrupted or
terminated.</br>


<!--TESTS-->


<br><br><br><br><br><br><br><br><br>
<a name="tests"> </a><br><br><br><br><br><br><h6 xmlns="http://www.w3.org/1999/html"><b>Testing methodology </b>
</h6><br>


<b style="font-size 24px">F</b>or the sake of the quality of the final application certain testing measures were
implemented and used at the different stages of code fabrication.</br>
<b style="font-size 24px">T</b>he "ongoing" scenario of testing at early stage of project development was issued in order to avoid errors
cumulation at further stages.  </br>
<b style="font-size 24px">S</b>imultaneously, development process basics of SOLID rules were taken into account.
As far as it is relativelly small project Clean Code recommendations wherever required were used as well.
</br>
<b style="font-size 24px">S</b>ome aspects of the
<button formtarget="_blank" type="submit" onclick="BDD">
    <a href="https://en.wikipedia.org/wiki/Behavior-driven_development" style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Behaviour
        Driven Developement" </b></a>
</button> testing system were taken into account whilst the automated tests were performed. </br></br>

<b style="font-size 24px">On-line Tests.</b></br></br>

<b style="font-size 24px">T</b>he simplest but the less precise gadget for quick bugs fixing is run and check the
code section in the IDE console. This action can provide instant recognation and correction of exception (or error)
thrown in the code. Similarly, <b>console.log()</b> or
<b>println()</b> frases can be add in order to investigate the script
run properly as per example below: </br>
<pre>
    function getName(note) {
    console.log('Start function getNote');
    console.log('I got attr ' + note);
    name = 'Note to read ' + note;
    console.log('Note send as note');
    return note;
        }
    </pre>
<b style="font-size 24px">IDE build-in Tools.</b></br></br>
<b style="font-size 24px">P</b>ycharm IDE was the primary development tool used for project fabrication. It is facilitated with the interpreter which online finds the compilation
exceptions. In this programming environment the suggestions for serving a propper solutions is also provided.</br>
<b style="font-size 24px">M</b>ost of the browsers can invoke the very usefull developer's tool by clicking "F12" key or combination of  "Shift + Ctrl + I" keys.
This debugging/inspection tool operates on source HTML code of document get into the browser. The tool has an interactive console
where one can test the behavior of scripts (write and call JavaScript scripts right in the console), use it for debugging,
and control the program flow (simple user interaction).<br>
<b style="font-size 24px">A</b>s framework Flask is equipped with the inbuild option of debug mode the applications can be
executed with automatic invoke of exceptions.
In this mode, two very convenient modules of the development server called the reloader and the debugger are enabled
by default.<br>
<b style="font-size 24px">W</b>hen the reloader is enabled, Flask watches all the source code files of the project
and automatically restarts the server when any of the files are modified. Having a
server running with the reloader enabled is extremely useful during development, because every time you modify and
save a source file, the server automatically restarts
and picks up the change.<br>
<b style="font-size 24px">T</b>he debugger is a web-based tool that appears in your browser when your application
raises an unhandled exception. The web browser window transforms into an interactive stack trace that allows you to
inspect source code and evaluate expressions in any place in the call stack. By default, debug mode is
disabled.</br>
<b style="font-size 24px">R</b>esults of the debugger reaction on the typical error of irrelevent mapping of the sql
relations and the envoking foulty are presented it the file <b>"flaskDebugger.md"</b>.
The web browser window transforms into an interactive stack trace that allows you to inspect
source code and evaluate expressions in any place in the call stack. By default, debug mode is disabled.</br></br>

<b style="font-size 24px">Manual Testing.</b></br></br>
<b style="font-size 24px">T</b>he short description of the manual tests are included in
<b>"manualTests.md"</b> file. It contains few samples of testing methods.
</br></br>

<b style="font-size 24px">Unit tests.</b></br></br>
<b style="font-size 24px">F</b>or testing SQL connection to the server and/or the correctness of the data transfer
from server to the database
<b>sqlite3Test.py</b> testing file is provided. It is included in the test utils package and literally by running this
test in console one can see if your data are correct and accurate. It is quite easy in use and doesn't need to engage such relatively powerfull tools Postman.
The description of this test manner is included in <b>"manualTests.md"</b> file as well. </br>
</br>

<b style="font-size 24px">Automated testing.</b></br></br>

<b style="font-size 24px">T</b>he description of the automated tests are included in <b>"automatedTests.md"</b> file.
As the simplest automation test processes can be obtained via Selenium testing tool the content of the description contains few samples consisting of this testing methods.</br>


<!--SOURCES-->


<a name="sources"> </a><br><br><br><br>
<h6 xmlns="http://www.w3.org/1999/html"><b> Sources </b>
</h6></br>

<b style="font-size 24px">M</b>ain concept of the "Library" API is based on the Python programming lunguage as having pretty good system of open
source libraries and composed with use of Flask framework.</br>
<b style="font-size 24px">F</b>lask is a lightweight web application microframework written in Python. It makes use of the flexibility of Python
to provide a relatively simple template for web application development. Flask makes it possible to write simple
one-page applications, but it also has the power to scale them and build larger applications without any issues.</br>
<b style="font-size 24px">T</b>he simplest 3 line code with Flask import is a complete Flask-based web application where the instance of the
imported Flask class is a Web Server Gateway Interface (WSGI) (http://legacy.python.org/dev/peps/pep-0333/) application.
So, app in such code becomes our WSGI application, and as this is a standalone module.</br>
<b style="font-size 24px">F</b>lask has excellent documentation and an active community. It has a number of extensions,
each of which have documentation that can be rated from good to excellent. There are a few
books available on Flask. They are great and provide a lot of insight into the framework and
its applications.</br>

<b style="font-size 24px">T</b>he <b
        style="font-size 24px">@app_routes</b> decorator can be used as a very convenient feature for HTML endpoint generator.</br>

<b style="font-size 24px">F</b>lask- SQLAlchemy, an extension that provides a Flask-friendly wrapper to the popular SQLAlchemy
package, which is an Object Relational Mapper or ORM. ORMs allow applications to manage a database using highlevel
entities such as classes, objects and methods instead of tables and SQL. The job of the ORM is to translate the high-level operations into database commands.</br>
<b style="font-size 24px">S</b>QLite 3 is used in the "Library" as the database. It is very useful as a simple functionality for testing or prototyping out an application.
If some need to move up to a larger database then can later port that over. SQLite is actually part of the standard library so
there is no need to even install anything and we can just start working with it right out of a box.
</br></br>

<h6 xmlns="http://www.w3.org/1999/html"><b> Internet and media sources</b></h6></br>
<b style="font-size 24px">1</b>. Corey Shafer - YouTube - Python Flask Tutorial
<button formtarget="_blank" type="submit" onclick="CMSYouTube">
    <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Flask
        Series" </b></a></button> </br>
<b style="font-size 24px">2</b>. Corey Shafer - GitHub - Python - code snippets
<button formtarget="_blank" type="submit" onclick="CMSGitHub">
    <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Python" style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"Python -
        code snippets" </b></a></button> </br>
<b style="font-size 24px">3</b>. EasyOCR by JAIDED AI - GitHub -
<button formtarget="_blank" type="submit" onclick="EasyOCR">
    <a href="https://github.com/JaidedAI/EasyOCR" style="scroll-behavior: smooth;"
       target="_blank"><b
            style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"EasyOCR" </b></a>
</button> </br>
<b style="font-size 24px">4</b>. "Flask Web Development. Developing Web Applications with Python"- Second Edition. Miguel Grinberg -  O'Reilly</br>
<b style="font-size 24px">5</b>. Miguel Grinberg - "Flask Web Development" - Blog -
<button formtarget="_blank" type="submit" onclick="Flask-Web-Development">
    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"
       style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"FlaskSQLAlchemy" </b></a>
</button> </br>
<b style="font-size 24px">6</b>. Shalabh Aggarwal - "Flask Framework Cookbook" - Second Edition. Shalabh Aggarwal.
This book tries to take a different approach to explain the Flask framework and multiple aspects of its practical uses and applications as a whole.</br>
<b style="font-size 24px">7</b>. FlaskSQLAlchemy
<button formtarget="_blank" type="submit" onclick="SQLAlchemy">
    <a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/" style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"FlaskSQLAlchemy" </b></a>
</button> </br>
<b style="font-size 24px">8</b>. FlaskSQLAlchemy Tutorial
<button formtarget="_blank" type="submit" onclick="SQLAlchemy-Tutorial">
    <a href="https://docs.sqlalchemy.org/en/14/tutorial/" style="scroll-behavior: smooth;"
       target="_blank"><b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"FlaskSQLAlchemy
        Tutorial" </b></a></button> </br>
<b style="font-size 24px">9</b>. "Mastering Flask Web Development" - Second Edition. Daniel Gaspar, Jack Stouffer


<!--TOP 1000-->


<br><br><br><br><br><br><br><br><a name="tops"> </a><br><br><br><br><br><br>

<h6 xmlns="http://www.w3.org/1999/html"><b> Top 1000 List </b></h6><br><br>

<b style="font-size 24px">T</b>he top 1000 list access is reserved for administrator of the system hereby called Top1000-List-Keeper.
In particular Top1000-List-Keeper is the only person entitled to remove items from Top1000 list.
For user without the authorisation of admin role this option is not provided.<br>
<b style="font-size 24px">S</b>uccessful proposals will be arbitrary introduced by Top1000-List-Keeper which will be the
only role eligible to maintain this list.
<br>
<b style="font-size 24px">V</b>oting for proposed books will be possible e.g. by mailing to the Top1000-List-Keeper mailing box.
Users can obviously make a small sub-clubs to cooperate in voting process and try collectively convince Top1000-List-Keeper
that the specific proposal has important values for getting a better rank at the list. <br>
<b style="font-size 24px">T</b>he top 1000 list can be split on sub-lists of "Top 20th Century" or "Top100-ever" and so on.
Split can be discused with Top1000-List-Keeper on request of users.

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!--LICENCE-->


<br><br><br><br><br>
<a name="license"> </a><br><br><br><br><br><br><h6 xmlns="http://www.w3.org/1999/html"><b> LICENSE </b>
</h6><br>

<h6><b>MIT</b></h6>
<b style="font-size 24px">P</b>ermission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files , to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:</br>

<b style="font-size 24px">T</b>he above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
<br><br>

<a>SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
    FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
    COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
    IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</a>

<br><br><br>
<b style="font-size 24px">I</b>n case of any comments or for another information please write to:
<button formtarget="_blank" type="submit" onclick="adminEmails">
    <a href="mailto:pio.banasik@gmail.com" style="scroll-behavior: smooth;">
        <b style="font-size: 5px; font: 80% Verdana; color: #245272; background-color: #f2e6ff">"StBanas" </b></a>
</button>.
<br><br>
<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="{{ url_for('helps.help')}}"> Return to Help Page</a>
    </small>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="{{ url_for('main.index')}}"> Go to Home Page</a>
    </small>
</div>

<hr> Copyright &copy StBanas - 2021 <br><br><br><br><br>

{% endblock %}