{% extends "layout.html" %}
{% block content %}

<title>Tests</title>

<h5> Choose testing mode description </h5>
<br>
<div class="content-section">
    <div class="form-group">
    </div>
    <div class="border-top pt-3">
        <a class="text-muted">
            <a class="ml-2" href="{{ url_for('test.manualTests') }}"> Manual Tests </a>
        </a>
    </div>
    <div class="border-top pt-3">
        <a class="text-muted">
            <a class="ml-2" href="{{ url_for('test.automatedTests') }}"> Automated Tests </a>
        </a>
    </div>

    <div class="border-top pt-3">
        <a class="text-muted">
            <a class="ml-2" href="{{ url_for('test.report') }}"> Report </a>
        </a>
    </div>
</div>
<div>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{{ url_for('main.index')}}"> Return to Home Page</a>
        </small>
    </div>
</div>
{% endblock content %}