{% extends "layout.html" %}
{% block content %}

<h4>Update book</h4>

<style>
table tr {
    color: red;
    font-weight: ;
    hight: 40px;
}
table th {color: blue;
    font-weight: bold;
    width: 400px;
    }

    </style>


<form action="" method="POST"></form>

<table id="table_id">
    <thead>
    <tr >
        <th scope="#">Author</th>
        <th scope="#">Title</th>
        <th scope="#">Action</th>
    </tr>
    </thead>
    {% for book in books %}
    <tr>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td><a href="{{ url_for('booky.update_book', book_id=book.id) }}">update</a></td>
    </tr>

    {% endfor %}

</table>
{% endblock content %}