{% extends "layout.html" %}
{% block content %}

<<h5 class="mb-3"> Books by {{ user.username }} ({{ boks.total }})</h5>
{% for book in boos.items %}
<article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static' + post.author.image_file) }}">-->
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_books', username=book.user.username) }}">{{ book.user.username }}</a>
<!--            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>-->
        </div>
        <h2><a class="article-title" href="{{ url_for('books.book', book_id=book.id) }}"> {{ book.author }} </a></h2>
        <p class="article-content">{{ book.title }}</p>
    </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.user_books', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_books', username=user.username, page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}